#title_form{
	position:absolute;
	left:60;
	background-color:white;
	width:400;
	font-family:cursive;
	box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
}
#action_form{
	background-color:white;
	width:300;
	font-family:cursive;
	box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
}