#title{
	position:absolute;
	left:60;
	background-color:pink;
	width:400;
	font-family:cursive;
	box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
}
#action{
	background-color:white;
	width:300;
	border-radius:10;
	font-family:cursive;
	box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
}