#Register_form{
	position:absolute;
		top:100;
		left:100;
	background-color:white;
	width:400;
	height:300;
	font-family:cursive;
	box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
	font-family:cursive;
}
p{
	position:relative;
	left:3%;
	top:3%;
	font-family:cursive;
	font-size:23px;
}