#function{
	background-color:white;
	width:900;
	height:30;
	font-family:cursive;
	box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
}
#image_form{
	background-color:white;
	position:absolute;
	top:60;
	width:600;
	height:300;
	font-family:cursive;
	box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
}
#file_form{
	background-color:white;
	position:absolute;
	top:60;
	left:668;
	width:240;
	height:300;
	font-family:cursive;
	box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
}
#content_form{
	background-color:white;
	position:absolute;
	top:390;
	width:900;
	height:200;
	font-family:cursive;
	box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
}